@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Formulaire";
}
<h1>@ViewData["Title"]</h1>
<p>Page du formulaire</p>
<div class="container">
    <div class=" row">
        <div class="col-3">
            <label>nom</label>
        </div>
        <div class="col-12">
            <input type="text" id="lastname_input" name="lastname_input"/>
        </div>
    </div>
    <div class=" row">
        <div class="col-3">
            <label>prénom</label>
        </div>
        <div class="col-12">
            <input type="text" id="name_input" name="name_input"/>
        </div>
    </div>
    <div class=" row">
        <div class="col-3">
            <label>Selectionnez la Session</label>
        </div>
        <div class="col-12">
            <select name="Session_Selection">
                <option value="Session1">Session1</option>
                <option value="Session2">Session2</option>
                <option value="Session3">Session3</option>
            </select>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h3>Déroulement du cours</h3>
        </div>
        <div class=" row">
            <div class=" col-sm-2">
                <label>Accueil</label>
            </div>
            <div class=" col-sm-2">
                <label>Mediocre <input type="checkbox" value="mediocre" /></label>
            </div>
            <div class=" col-sm-2">
                <label>Moyen <input type="checkbox" value="moyen" /></label>
            </div>
            <div class=" col-sm-2">
                <label>Bon <input type="checkbox" value="bon" /></label>
            </div>
            <div class=" col-sm-2">
                <label>Excellent <input type="checkbox" value="excellent" /></label>
            </div>
        </div>

        <div class=" row">
            <div class=" col-sm-2">
                <label>La salle de formation</label>
            </div>
            <div class=" col-sm-2">
                <label>Mediocre <input type="checkbox" value="mediocre" /></label>
            </div>
            <div class=" col-sm-2">
                <label>Moyen <input type="checkbox" value="moyen" /></label>
            </div>
            <div class=" col-sm-2">
                <label>Bon <input type="checkbox" value="bon" /></label>
            </div>
            <div class=" col-sm-2">
                <label>Excellent <input type="checkbox" value="excellent" /></label>
            </div>
        </div>

        <div class=" row">
            <div class=" col-sm-2">
                <label>Le Matériel</label>
            </div>
            <div class=" col-sm-2">
                <label>Mediocre <input type="checkbox" value="mediocre" /></label>
            </div>
            <div class=" col-sm-2">
                <label>Moyen <input type="checkbox" value="moyen" /></label>
            </div>
            <div class=" col-sm-2">
                <label>Bon <input type="checkbox" value="bon" /></label>
            </div>
            <div class=" col-sm-2">
                <label>Excellent <input type="checkbox" value="excellent" /></label>
            </div>
        </div>

        <div class=" row">
            <div class=" col-sm-2">
                <label>La Restauration</label>
            </div>
            <div class=" col-sm-2">
                <label>Mediocre <input type="checkbox" value="mediocre" /></label>
            </div>
            <div class=" col-sm-2">
                <label>Moyen <input type="checkbox" value="moyen" /></label>
            </div>
            <div class=" col-sm-2">
                <label>Bon <input type="checkbox" value="bon" /></label>
            </div>
            <div class=" col-sm-2">
                <label>Excellent <input type="checkbox" value="excellent" /></label>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h3>Contenu du cours</h3>
        </div>
        <div class=" row">
            <div class=" col-sm-2">
                <label>La richesse du contenu du cours</label>
            </div>
            <div class=" col-sm-2">
                <label>Mediocre <input type="checkbox" value="mediocre" /></label>
            </div>
            <div class=" col-sm-2">
                <label>Moyen <input type="checkbox" value="moyen" /></label>
            </div>
            <div class=" col-sm-2">
                <label>Bon <input type="checkbox" value="bon" /></label>
            </div>
            <div class=" col-sm-2">
                <label>Excellent <input type="checkbox" value="excellent" /></label>
            </div>
        </div>

        <div class=" row">
            <div class=" col-sm-2">
                <label>Le niveau du cours par rapport à mes attentes</label>
            </div>
            <div class=" col-sm-2">
                <label>Mediocre <input type="checkbox" value="mediocre" /></label>
            </div>
            <div class=" col-sm-2">
                <label>Moyen <input type="checkbox" value="moyen" /></label>
            </div>
            <div class=" col-sm-2">
                <label>Bon <input type="checkbox" value="bon" /></label>
            </div>
            <div class=" col-sm-2">
                <label>Excellent <input type="checkbox" value="excellent" /></label>
            </div>
        </div>

        <div class=" row">
            <div class=" col-sm-2">
                <label>Les supports de cours et les ateliers</label>
            </div>
            <div class=" col-sm-2">
                <label>Mediocre <input type="checkbox" value="mediocre" /></label>
            </div>
            <div class=" col-sm-2">
                <label>Moyen <input type="checkbox" value="moyen" /></label>
            </div>
            <div class=" col-sm-2">
                <label>Bon <input type="checkbox" value="bon" /></label>
            </div>
            <div class=" col-sm-2">
                <label>Excellent <input type="checkbox" value="excellent" /></label>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <h3>Le Rythme de Progression</h3>
        </div>
        <div clas="col-sm-2">
            <label>Trop Lent <input type="checkbox" value="trop lent" /></label>
        </div>
        <div clas="col-sm-2">
            <label>Satisfaiant <input type="checkbox" value="satisfaisant" /></label>
        </div>
        <div clas="col-sm-2">
            <label>Trop Rapide <input type="checkbox" value="trop rapide" /></label>
        </div>
    </div>
    <a href='@Url.Action("FormsPage2","Forms")'>
        <input type="button" value="suivant" />
    </a>
</div>