@model NetexioFormulaire.Models.AdministrationData
@{
    ViewData["Title"] = "Créer une Formation";
}
<h1>@ViewData["Title"]</h1>
<p>Page de création de formation</p>
<div class="container">
    <div class="row">
        <label>Nom de la formation</label>
    </div>
    @using (Html.BeginForm("Index","Administration", FormMethod.Post))
            {
                @Html.TextBoxFor(m=>m.FormationName)
                <input type="submit" value="Créer" />
            }
</div>