@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Tuple<System.Data.DataTable, NetexioFormulaire.Models.AdministrationData>
@using System.Data
@using System.Collections.Generic;
@{
    ViewData["Title"] = "Supprimer Formation";
}
<head>
    <link rel="stylesheet" href="~/css/Administration.css" />
    <title>@ViewData["Title"] - NetexioFormulaire</title>
</head>
<div class="container" id="Forms">
    <div class="container" id="container">
        <div class="row" id="Label">
            @Html.Label("Name", "Nom de la Formation")
        </div>
        @using (Html.BeginForm("Deleteformation", "Administration", FormMethod.Post))
        {
            <div class="row" id="DropdownList-DF">
                @{ List<SelectListItem> listItems = new List<SelectListItem>();

                    foreach (DataRow row in Model.Item1.Rows)
                    {
                        foreach (DataColumn col in Model.Item1.Columns)
                        {
                            listItems.Add(new SelectListItem { Text = row[col.ColumnName].ToString(), Value = row[col.ColumnName].ToString() });
                        }
                    }
                }
                @Html.DropDownListFor(x => x.Item2.FormationToDelete, listItems, new { @class = "form-control" })
            </div>
            <div class="row">
                <input type="submit" value="Supprimer" id="Submit_button" />
            </div>

        }
    </div>
</div>