@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Tuple<System.Data.DataTable, NetexioFormulaire.Models.AdministrationData>
@using System.Data
@using System.Collections.Generic;
@{
    ViewData["Title"] = "Définir une session active";
}
<h1>@ViewData["Title"]</h1>
<p>Page pour définir une session active</p>
<div class="container">
    <div class="row">
        <label>Nom de la Session</label>
    </div>
    @using (Html.BeginForm("SetSessionActive", "Administration", FormMethod.Post))
    {
        <div class="row">
            @{ List<SelectListItem> listItems = new List<SelectListItem>();

                foreach (DataRow row in Model.Item1.Rows)
                {
                    foreach (DataColumn col in Model.Item1.Columns)
                    {
                        listItems.Add(new SelectListItem { Text = row[col.ColumnName].ToString(), Value = row[col.ColumnName].ToString() });
                    }
                }
            }
            @Html.DropDownListFor(x => x.Item2.SessionToActivate, listItems, new { @class = "form-control" })
        </div>
        <div class="row">
            <input type="submit" value="Valider" />
        </div>

    }
</div>
