@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Définir une session active";
}
<h1>@ViewData["Title"]</h1>
<p>Page pour définir une session active</p>
<div class="container">
    <div class="row">
        <label>Nom de la Session</label>
    </div>
    <div class="row">
        <select name="Session">
            <option value="Session1">Session 1</option>
            <option value="Session2">Session 2</option>
            <option value="Session3">Session 3</option>
        </select>
    </div>
    <button type="submit">Activer</button>
</div>
