@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
 
<h1>Formation créée</h1>
<a href='@Url.Action("Index","AdministrationController")'>
            <input type="button" value="Retour" />
</a>
